In [55]:
import pandas as pd

df1 = pd.read_csv("../datasets/ml-latest-small/movies.csv")
df1.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [56]:
df2 = pd.read_csv("../datasets/ml-latest-small/links.csv")
df2.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [57]:
df3 = pd.read_csv("../datasets/movie-genres-posters/MovieGenre.csv")
df3.head()

,imdbId,Imdb Link,Title,IMDB Score,Genre,Poster
0,114709,http://www.imdb.com/title/tt114709,Toy Story (1995),8.3,Animation|Adventure|Comedy,https://images-na.ssl-images-amazon.com/images...
1,113497,http://www.imdb.com/title/tt113497,Jumanji (1995),6.9,Action|Adventure|Family,https://images-na.ssl-images-amazon.com/images...
2,113228,http://www.imdb.com/title/tt113228,Grumpier Old Men (1995),6.6,Comedy|Romance,https://images-na.ssl-images-amazon.com/images...
3,114885,http://www.imdb.com/title/tt114885,Waiting to Exhale (1995),5.7,Comedy|Drama|Romance,https://images-na.ssl-images-amazon.com/images...
4,113041,http://www.imdb.com/title/tt113041,Father of the Bride Part II (1995),5.9,Comedy|Family|Romance,https://images-na.ssl-images-amazon.com/images...

In [58]:
df = df1.merge(df2, left_on="movieId", right_on="movieId")
df.head()

,movieId,title,genres,imdbId,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,113497,8844.0
2,3,Grumpier Old Men (1995),Comedy|Romance,113228,15602.0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,114885,31357.0
4,5,Father of the Bride Part II (1995),Comedy,113041,11862.0

In [59]:
df = df.merge(df3, left_on="imdbId", right_on="imdbId")
df.head()

,movieId,title,genres,imdbId,tmdbId,Imdb Link,Title,IMDB Score,Genre,Poster
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,http://www.imdb.com/title/tt114709,Toy Story (1995),8.3,Animation|Adventure|Comedy,https://images-na.ssl-images-amazon.com/images...
1,2,Jumanji (1995),Adventure|Children|Fantasy,113497,8844.0,http://www.imdb.com/title/tt113497,Jumanji (1995),6.9,Action|Adventure|Family,https://images-na.ssl-images-amazon.com/images...
2,3,Grumpier Old Men (1995),Comedy|Romance,113228,15602.0,http://www.imdb.com/title/tt113228,Grumpier Old Men (1995),6.6,Comedy|Romance,https://images-na.ssl-images-amazon.com/images...
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,114885,31357.0,http://www.imdb.com/title/tt114885,Waiting to Exhale (1995),5.7,Comedy|Drama|Romance,https://images-na.ssl-images-amazon.com/images...
4,5,Father of the Bride Part II (1995),Comedy,113041,11862.0,http://www.imdb.com/title/tt113041,Father of the Bride Part II (1995),5.9,Comedy|Family|Romance,https://images-na.ssl-images-amazon.com/images...

In [60]:
from IPython.display import Image

Image(url=df["Poster"][0])

In [61]:
import json

# export csv with images
json_str = df.to_json(orient="records")
parsed = json.loads(json_str)

with open("../datasets/merged-small.json", 'w') as json_file:
  json_file.write(json.dumps({"data": parsed}, indent=4 ))

In [62]:
df4 = pd.read_csv("../datasets/ml-latest-small/ratings.csv")
df4.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [63]:
def get_genres_list(genres):
  return genres.split("|")

df1["genres"] = df1["genres"].map(get_genres_list)

In [64]:
for row in df1["genres"]:
  for genre in row:
    if genre not in df1.columns:
      df1[genre] = 0

df1.head()

,movieId,title,genres,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,...,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),"[Comedy, Romance]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),[Comedy],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [65]:
for i in df1.index:
  genres = df1["genres"][i]
  for genre in genres:
    df1[genre][i] = 1

df1.head()

/tmp/ipykernel_15504/3356297123.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[genre][i] = 1

,movieId,title,genres,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,...,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]",1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),"[Comedy, Romance]",0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",0,0,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),[Comedy],0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [66]:
df5 = df1.merge(df4, left_on="movieId", right_on="movieId")
# Clean dataframe from unecessary columns
del df5["title"]
del df5["genres"]
del df5["timestamp"]
del df5["(no genres listed)"]
df5 = df5.loc[:, ~df5.columns.str.contains('^Unnamed')]
df5.head()

,movieId,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,...,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,userId,rating
0,1,1,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,4.0
1,1,1,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,5,4.0
2,1,1,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,7,4.5
3,1,1,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,15,2.5
4,1,1,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,17,4.5

In [67]:
df5.to_csv("../datasets/prepared-dataset-small.csv")