In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("../datasets/prepared-dataset-small.csv")
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.head()

,movieId,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,...,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,userId,rating
0,1,1,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,4.0
1,1,1,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,5,4.0
2,1,1,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,7,4.5
3,1,1,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,15,2.5
4,1,1,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,17,4.5

In [2]:
np_data = df.to_numpy()
np_data.shape

(100836, 22)

In [3]:
from sklearn.model_selection import train_test_split

X = np_data[:, :21]
Y = np_data[:, 21]

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=42)